@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

/*-- main --*/
main {
    font-family: 'Arimo', sans-serif;
}

button {
    border: none;
    border-radius: 5px;
    height: 49px;
    text-transform: uppercase;
    width: 192px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.4s ease;
    cursor: pointer;
}

/*-- price table --*/
.price-table {
    border: 22px solid #3a4965;
    text-transform: uppercase;
    table-layout: fixed;
    width: 1192px;
    margin: 20px auto;
}

.price-table tbody tr:nth-child(2n) {
    background-color: #e3e3e3;
}

.price-table tbody tr {
    background-color: #f2f2f2;
}

.price-table td {
    text-align: center;
    height: 70px;
    vertical-align: middle;
    color: #484848;
    box-shadow: 6px 0px 8px -3px rgba(0, 0, 0, 0.09);
}

.price-table th {
    vertical-align: middle;
    padding: 27px 0 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 6px 0px 8px -3px rgba(0, 0, 0, 0.09);
}

.price-table tr:first-child th:first-child {
    color: #484848;
    font-size: 18px;
}

.price-table tr:first-child th:first-child .pricing_plan {
    font-size: 30px;
}

.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
}

.premium {
    background-color: #20807c;
}

.price-table tr:nth-child(2) th {
    color: #484848;
}

.price-flex {
    display: flex;
    justify-content: center;
}

.price-flex ul {
    list-style: none;
    text-align: left;
    position: relative;
    top: 4px;
    margin-left: 4px;
}

.price-stretch {
    font-size: 60px;
    font-weight: 700;
}

.price-upper {
    font-size: 24px;
}

.price-period {
    font-size: 18px;
    font-weight: 400;
    margin: 7px 0 0 3px;
}

.price-table i {
    font-size: 22px;
    margin-right: 12px;
    color: #848484;
}

.black-btn {
    background: #484848;
}

.black-btn:hover {
    background: #2f2f2f;
}

.grey-btn {
    background: #89c331;
}

.grey-btn:hover {
    background: #76a52f;
}

.red-btn {
    background: #f04a56;
}

.red-btn:hover {
    background: #a23038;
}

.dark-grey-btn {
    background: #20807c;
}

.dark-grey-btn:hover {
    background: #165452;
}